@page "/"

@using System.IO
@using CsvHelper;
@using CsvHelper.Configuration;
@using System.Globalization;
@using System.Linq;
@using CsvHelper.Excel;
@using PlannerToGantt.Data;
@using PlannerToGantt.Services;
@using Syncfusion.Blazor.Gantt;
@using Syncfusion.Blazor.Spinner;

@inject IJSRuntime JSRuntime
@inject IAppStorageService AppStorageService 

@implements IAsyncDisposable

<PageTitle>Planner to Gantt</PageTitle>

<h2>Convert Planner to Gantt</h2>

<div @ref="dropZoneElement" class="drop-zone">
    <p>Drop your exported planner excel file here</p>
    <div @ref="inputFileContainer">
        <InputFile OnChange="@OnChange" accept=".xlsx, xls" />
    </div>
</div>

@if (_isLoading)
{
    <SfSpinner Size="60" Label="@SpinnerText" Type="SpinnerType.Bootstrap5" Visible="true"></SfSpinner>
}

@if (_tasks != null)
{
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="gantt">
                <SfGantt DataSource="@_tasks" Height="100%" Width="100%"
                        Toolbar="@(new List<string>{ "ZoomIn","ZoomOut","ZoomToFit"})"
                        ProjectStartDate="@ProjectStart"
                        ProjectEndDate="@ProjectEnd"
                        AllowFiltering="true"
                        AllowSorting="true"
                        AllowUnscheduledTasks="true"
                        IncludeWeekend="false"
                        HighlightWeekends="true"
                        AllowResizing="true">
                    <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" TaskType="Status"
                                        ParentID="ParentId" ResourceInfo="Resources">
                    </GanttTaskFields>
                    <GanttEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" AllowTaskbarEditing="false"
                                        ShowDeleteConfirmDialog="false"></GanttEditSettings>
                    <GanttColumns>
                        @*<GanttColumn Field="Id" HeaderText="ID"></GanttColumn>*@
                        <GanttColumn Field="TaskName" HeaderText="Task" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                        <GanttColumn Field="Resources" HeaderText="Assigned To"></GanttColumn>
                        <GanttColumn Field="Status" HeaderText="Status"></GanttColumn>
                        <GanttColumn Field="BucketName" HeaderText="Bucket"></GanttColumn>
                        @*<GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                        <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>*@
                    </GanttColumns>
                    <GanttResourceFields Resources="ResourceCollection" Id="ResourceId" Name="ResourceName" Unit="Unit" TResources="ResourceAllocateData"></GanttResourceFields>
                    <GanttLabelSettings RightLabel="TaskName" TValue="TaskData"></GanttLabelSettings>
                    <GanttSplitterSettings ColumnIndex=2> </GanttSplitterSettings>
                </SfGantt>
            </div>
        </div>
    </div>
}

@code {
    ElementReference dropZoneElement;
    ElementReference inputFileContainer;

    IJSObjectReference _module;
    IJSObjectReference _dropZoneInstance;

    List<TaskData> _tasks = null;
    private bool _isLoading = false;
    private string SpinnerText = "";
    private DateTime ProjectStart = DateTime.Today.AddMonths(-1);
    private DateTime ProjectEnd = DateTime.Today.AddMonths(3);
    private List<ResourceAllocateData> ResourceCollection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _tasks = (List<TaskData>)await AppStorageService.GetTaskList();
        if (_tasks != null)
        {
            _isLoading = true;
            await ProcessTasks();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./dropZone.js");
            _dropZoneInstance = await _module.InvokeAsync<IJSObjectReference>("initializeFileDropZone", dropZoneElement, inputFileContainer);
        }
    }

    private int WorkingDaysBetween(DateTime startDate, DateTime endDate)
    {
        if (startDate == endDate) return 0;
        var duration = (endDate - startDate);
        var days = 0;
        for (var dt = startDate; dt <= endDate; dt = dt.AddDays(1))
        {
            if (dt.DayOfWeek != DayOfWeek.Saturday && dt.DayOfWeek != DayOfWeek.Sunday) days++;
        }
        return days;
    }

    private DateTime? EarliestCreatedTask => _tasks.Where(x => x.CreatedDate != null).OrderBy(t => t.CreatedDate).First().CreatedDate;
    private DateTime? EarliestTask => _tasks.Where(x => x.StartDate != null).OrderBy(t => t.StartDate).First().StartDate;
    private DateTime? LatestTask => _tasks.Where(x => x.EndDate != null).OrderByDescending(t => t.EndDate).First().EndDate;
    private DateTime? LatestCompletedTask => _tasks.Where(x => x.CompletedDate != null).OrderByDescending(t => t.CompletedDate).First().CompletedDate;

    async Task ProcessTasks()
    {
        SpinnerText = "Processing Tasks...";
        _tasks = _tasks.Where(t => t.BucketName != "TBD" && t.BucketName != "Backlog" && t.Status != "Completed").ToList(); // Remove TBD and Backlog Items

        //var earliestCreated = (EarliestCreatedTask ?? ProjectStart).AddDays(-7);
        ProjectStart = (EarliestTask ?? ProjectStart).AddDays(-7);
        ProjectEnd = (LatestTask ?? ProjectEnd).AddMonths(1);
        //if (earliestCreated < ProjectStart) ProjectStart = earliestCreated;
        //var altProjectCompleted = LatestCompletedTask;

        var resources = _tasks.Select(t => t.AssignedTo);
        var tmp = new List<string>();
        foreach (var res in resources)
            tmp.AddRange(res.Split(';'));
        tmp = tmp.Distinct().ToList();
        int resId = 0;
        int taskId = 0;
        ResourceCollection = tmp.Select(res => new ResourceAllocateData { ResourceId = resId++, ResourceName = res }).ToList();
        foreach (var task in _tasks)
        {
            task.TaskId = taskId++;
            if (task.StartDate == null) task.StartDate = task.CreatedDate;
            if (task.CompletedDate != null) task.EndDate = task.CompletedDate;
            if (task.EndDate == null) task.EndDate = task.StartDate;
            task.Duration = WorkingDaysBetween(task.StartDate.Value, task.EndDate.Value).ToString();    // (task.EndDate - task.StartDate);

            //task.Duration = duration.Value.TotalDays.ToString();
            task.Resources = task.AssignedTo.Split(";").Select(x => ResourceCollection.First(y => y.ResourceName == x)).ToList();
        }
        SpinnerText = "";
        _isLoading = false;

    }

    async Task<List<TaskData>> ReadFromExcel(MemoryStream ms, bool forceUK = false)
    {
        var config = new CsvConfiguration(CultureInfo.InvariantCulture)
        {
            HasHeaderRecord = true
        };

        try
        {
            using var parser = new ExcelParser(ms, "Tasks", config);
            using (var csvReader = new CsvReader(parser))
            {
                if (forceUK)
                    csvReader.Context.RegisterClassMap<PlannerDataMapUK>();
                else
                    csvReader.Context.RegisterClassMap<PlannerDataMap>();

                await csvReader.ReadAsync();
                csvReader.ReadHeader();
                return await csvReader.GetRecordsAsync<TaskData>().ToListAsync();
            }
        }
        catch (Exception ex){
            return null;
        }
    }

    async Task OnChange(InputFileChangeEventArgs e)
    {
        _isLoading = true;
        StateHasChanged();

        var importFile = e.File;
        await using MemoryStream ms = new();
        await importFile.OpenReadStream().CopyToAsync(ms);

        using StreamReader sr = new(ms);

        var content = await sr.ReadToEndAsync();
        _tasks = await ReadFromExcel(ms);
        if (_tasks == null)
        {
            //var msUK = new MemoryStream(content.ToCharArray());
            //await importFile.OpenReadStream().CopyToAsync(ms);
            //ms.Seek(0, SeekOrigin.Begin);
            var msUK = new MemoryStream();
            using StreamWriter sw = new(msUK);
            await sw.WriteAsync(content);
            _tasks = await ReadFromExcel(msUK, true);
        }
        @*using var parser = new ExcelParser(ms, "Tasks", config);
        using (var csvReader = new CsvReader(parser))
        {
            csvReader.Context.RegisterClassMap<PlannerDataMap>("dd/MM/yyyy");
            await csvReader.ReadAsync();
            csvReader.ReadHeader();
            var allTasks = await csvReader.GetRecordsAsync<TaskData>().ToListAsync();
            _tasks = allTasks;
        }*@
        await AppStorageService.SaveTaskList(_tasks);
        await ProcessTasks();
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        if (_dropZoneInstance != null)
        {
            await _dropZoneInstance.InvokeVoidAsync("dispose");
            await _dropZoneInstance.DisposeAsync();
        }

        if (_module != null)
        {
            await _module.DisposeAsync();
        }
    }
    }