@page "/"

@using System.IO
@using CsvHelper;
@using CsvHelper.Configuration;
@using System.Globalization;
@using System.Linq;
@using CsvHelper.Excel;
@using PlannerToGantt.Data;
@using PlannerToGantt.Services;
@using Syncfusion.Blazor.Gantt;
@using Syncfusion.Blazor.Spinner;

@inject IJSRuntime JSRuntime
@inject IAppStorageService AppStorageService 

@implements IAsyncDisposable

<PageTitle>Planner to Gantt</PageTitle>

<h2>Convert Planner to Gantt</h2>

<div @ref="dropZoneElement" class="drop-zone">
    <p>Drop your exported planner excel file here</p>
    <div @ref="inputFileContainer">
        <InputFile OnChange="@OnChange" accept=".xlsx, xls" />
    </div>
</div>

@if (_isLoading)
{
    <SfSpinner Size="60" Label="@SpinnerText" Type="SpinnerType.Bootstrap5" Visible="true"></SfSpinner>
}

@if (_tasks != null)
{
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="gantt">
                <SfGantt DataSource="@_tasks" Height="100%" Width="100%"
                        Toolbar="@(new List<string>{ "ZoomIn","ZoomOut","ZoomToFit"})"
                        ProjectStartDate="@ProjectStart"
                        ProjectEndDate="@ProjectEnd"
                        AllowFiltering="true"
                        AllowSorting="true"
                        AllowUnscheduledTasks="true"
                        IncludeWeekend="false"
                        HighlightWeekends="true"
                        AllowResizing="true">
                    <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" TaskType="Status"
                                        ParentID="ParentId" ResourceInfo="Resources">
                    </GanttTaskFields>
                    <GanttEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" AllowTaskbarEditing="false"
                                        ShowDeleteConfirmDialog="false"></GanttEditSettings>
                    <GanttColumns>
                        @*<GanttColumn Field="Id" HeaderText="ID"></GanttColumn>*@
                        <GanttColumn Field="TaskName" HeaderText="Task" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                        <GanttColumn Field="Resources" HeaderText="Assigned To"></GanttColumn>
                        <GanttColumn Field="Status" HeaderText="Status"></GanttColumn>
                        <GanttColumn Field="BucketName" HeaderText="Bucket"></GanttColumn>
                        @*<GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                        <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>*@
                    </GanttColumns>
                    <GanttResourceFields Resources="ResourceCollection" Id="ResourceId" Name="ResourceName" Unit="Unit" TResources="ResourceAllocateData"></GanttResourceFields>
                    <GanttLabelSettings RightLabel="TaskName" TValue="TaskData"></GanttLabelSettings>
                    <GanttSplitterSettings ColumnIndex=2> </GanttSplitterSettings>
                </SfGantt>
            </div>
        </div>
    </div>
}

